{{#each this}}
  <div class="title"><img class="flag" src="{{flags.svg}}" alt="Flag of {{name.official}}"><span>{{name.official}}</span></div>
  <ul class="country-spec">
    <li class="country-spec__item">Capital: {{capital}}</li>
    <li class="country-spec__item">Population: {{population}}</li>
    <li class="country-spec__item">Languages: {{#each languages}}{{this}}{{#if @last}}.{{else}}, {{/if}}{{/each}}</li>
  </ul>
{{/each}}